@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 62.5%;
    --blue: #0d6efd;
    --white: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* sidebar */

.sidebar {
    grid-row: span 2;
    background-color: var(--blue);
    font-weight: 500;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--white);
}

.sidebar img {
    filter: brightness(0) invert(1);
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    padding-top: 10px;
}

.logo {
    font-size: 2.6rem;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

/* header */